{% extends "base.html" %}
{% block title %}Документы{% endblock %}

{% block main %}
{% for type in doctypes %}
    <p>{{ type.name }}</p>
    <table class="head_table">
        {% for structure in docstructures %}
            {% if structure.doc_type_id == type.id %}
               <th>{{ structure.name }}</th>
            {% endif %}
        {% endfor %}
        {% for field in docfield %}
        <tr>
            <td> {{ field.value }}</td>
        </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock %}