{% extends "base.html" %}
{% block title %}Добавление документа{% endblock %}

{% block main %}
<p class="doctype-header">{{ doctype.name }}</p>

<form method="post" action="/save_document/{{ doctype.id }}/{{ document.id }}">
    <table class="doctype-table">
        {% for structure in docstructure %}
            <tr>
                <td>{{ structure.name }}</td>
                <td><input id="{{ structure.id }}" name="{{ structure.id }}" type="text"></td>
            </tr>
        {% endfor %}
        <tr>
            <td><input type="submit" value="Отправить"></td>
        </tr>
    </table>
</form>
{% endblock %}