{% extends "base.html" %}
{% block title %}Документы{% endblock %}
{% block main %}
<p class="doctype-header">{{ doctype.name }}</p>
<a href="/form_document/{{ doctype.id }}">Добавить документ</a>
<table class="doctype-table">
    {% for structure in docstructure %}
        <th>{{ structure.name }}</th>
    {% endfor %}
    {% for key, document in render_doc.items %}
        <tr>
        {% for structure in docstructure  %}
            {% for key, field in document.items %}
                {% if key == structure.id %}
                    <td>{{ field }}</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <td><a href="/delete_document/{{ doctype.id }}/{{ key }}">Xqwertyuio</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}