{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портфолио</title>
</head>
<header>
    Еаси портфолио, Здравствуй {{FIO}}
</header>
<body style='background-color: #369091;'>
<base>
<p>Профиль</p>
<p>Документы</p>
<p>Отчет</p>
<p style="color: red"><a href="/login" title="Выход">Выход</a></p>
</body>

</html>

<!--
<menu>
    <img src="{% static '' %}/pycharm.png">
    <button> балаболия </button>
</menu>
{{ data }}
<p>
Сегоднешняя дата {{ date }}
</p>
<p>
    Возможные расширения файлов
    </p>
{% for row in file_exp %}
{{ row.type_file }}
{% endfor %}-->
